div[class*="weather"]{
    border: solid black;
    height: 50%;
    width: 50%;
}

div[class*="events"]{
    border: solid black;
    height: 80%;
    width: 50%;
}

div[class*="container"]{

    height: 50%;
    width: 50%;
}
#banner{
    position: relative;
    left: 25%;
    height: 50%;
    width: 50%;
}
#search{
    position: relative;
    left: 25%;

}
body {
    background-image: url("../background.png");
}